.realisation {
    @include base(padding-top, 1);
    @include base(padding-bottom, 1);
    @include base(padding-left, 1);
    @include base(padding-right, 1);
    display: block;
    position: relative;
    transition: background-position .15s ease-in-out;
    z-index: 0;
    text-decoration: none;
    background: linear-gradient(to top, $main-color 0%, $main-color 50%, $main-sat-color 100%);
    background-position: bottom;
    background-size: 200%;
    overflow: hidden;
    text-shadow: 0 0 6px $main-sat-color;
    color: $white-color;

    &:hover {
        background-position: top;
        text-shadow: 0 0 6px $main-sat-color;
        color: $white-color;
    }

    &-title {
        @include base(padding-top, 1);
        z-index: 1;
        text-align: center;
        font-family: $font-family-sans-serif;

        .realisation:hover & {
            text-decoration: underline;
        }
    }

    &-description {
        @include base(padding-bottom, 1);
        display: block;
        text-align: center;
    }

    &-image {
        position: absolute;
        top: 0;
        right: 0;
        opacity: .15;
        z-index: -1;
        width: 100%;
    }
}
