
.relative {
    position: relative;
}

.inherit {
    position: inherit;
}

.pop-out {
    @extend %center;
    position: absolute;
    margin-top: -7rem;
    width: 100%;
}

%justify {
    text-align: justify;
}

.end {
    text-align: end;
}

.middle,
%middle {
    vertical-align: middle;
}

%space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.align-baseline {
    align-items: baseline;
}

.right {
    float: right;
}

%left-align {
    text-align: left;
}

@include generate-breakpoints('.left-align') {
    text-align: left;
}

.center,
%center {
    text-align: center;
}

@include generate-breakpoints('.center-align') {
    text-align: center;
}

%right-align,
.right-align {
    text-align: right;
}


// Visibility classes

.inline,
%inline {
    display: inline-block;
}

@include generate-breakpoints('.inline') {
    display: inline-block;
    visibility: visible;
}

.block,
%block {
    display: block;
}

// Using this mixin generates a class for each break point, e.g hide-xs, hide-sm, hide-md ...
@include generate-breakpoints('.hide') {
    display: none;
    visibility: hidden;
}

@include generate-breakpoints('.show') {
    display: block;
    visibility: visible;
}

@include generate-breakpoints('.start') {
    justify-content: flex-start;
}

@include generate-breakpoints('.center') {
    justify-content: center;
}

@include generate-breakpoints('.end') {
    justify-content: flex-end;
}

@include generate-breakpoints('.top') {
    align-items: flex-start;
}

@include generate-breakpoints('.middle') {
    align-items: center;
}

@include generate-breakpoints('.bottom') {
    align-items: flex-end;
}

@include generate-breakpoints('.around') {
    justify-content: space-around;
}

@include generate-breakpoints('.between') {
    justify-content: space-between;
}

@include generate-breakpoints('.first') {
    order: -1;
}

@include generate-breakpoints('.last') {
    order: 1;
}

@include generate-breakpoints('.reverse') {
    flex-direction: row-reverse;
}
