$column-count: 12 !default;
$column-selector: '.col' !default;
$container-selector: '.container' !default;
$fluid-container-selector: '.container-fluid' !default;
$font-selector: ':root' !default;
$offset-modifier: 'offset' !default;
$gutter-width: 1rem !default;
$outer-margin: 4rem !default;
$gutter-compensation: (($gutter-width / 2) * -1) !default;
$half-gutter-width: ($gutter-width / 2) !default;
// Breakpoints definitions in em. Unit added afterwards for easier calculations
$width-xs: 0 !default; // Starting value
$width-sm: 336 !default; // 336px
$width-md: 540 !default; // 528px
$width-lg: 890 !default; // 800px
$width-xl: 1140 !default; // 1072px
$width-xxl: 1460 !default; // 1408px
// Base font size factor for each breakpoint. REM metrics used everywhere else.
$font-xs: 20px; // 12px
$font-sm: 22px; // 14px
$font-md: 24px; // 16px
$font-lg: 26px; // 16px
$font-xl: 28px; // 16px
$font-xxl: 30px; // 18px
$line-height-xs: 29px; // 12px
$line-height-sm: 33px; // 14px
$line-height-md: 36px; // 16px
$line-height-lg: 36px; // 16px
$line-height-xl: 39px; // 16px
$line-height-xxl: 42px; // 18px
$margin-xs: $line-height-xs;
$margin-sm: $line-height-sm;
$margin-md: $line-height-md;
$margin-lg: $line-height-lg;
$margin-xl: $line-height-xl;
$margin-xxl: $line-height-xxl;
$em-base: 11px;
$golden: 1.618;
$modular-scale-ratio: $golden;
// Viewport width breakpoint, with unit
$viewport-xs: #{$width-xs}px !default;
$viewport-sm: #{$width-sm}px !default;
$viewport-md: #{$width-md}px !default;
$viewport-lg: #{$width-lg}px !default;
$viewport-xl: #{$width-xl}px !default;
$viewport-xxl: #{$width-xxl}px !default;
// Viewport height breakpoint, with unit
$viewport-v-xs: 31.25em !default;
$viewport-v-sm: 37.5em !default;
// Containers width for each breakpoint
$container-xs: 100% !default;
$container-sm: 100% !default;
$container-md: 100% !default;
$container-lg: 61.8033% !default;
$container-xl: 61.8033% !default;
$container-xxl: 61.8033% !default;
// Fluid containers padding for each breakpoint
$fluid-container-xs-p: $margin-xs;
$fluid-container-sm-p: $margin-sm;
$fluid-container-md-p: $margin-md;
$fluid-container-lg-p: $margin-lg;
$fluid-container-xl-p: $margin-xl;
$fluid-container-xxl-p: $margin-xxl;
// Containers padding for each breakpoint
$container-xs-p: $margin-xs;
$container-sm-p: $margin-sm;
$container-md-p: ($margin-md * 2);
$container-lg-p: 0;
$container-xl-p: 0;
$container-xxl-p: 0;
// Breakpoints namespace
$xs: 'xs' !default;
$sm: 'sm' !default;
$md: 'md' !default;
$lg: 'lg' !default;
$xl: 'xl' !default;
$xxl: 'xxl' !default;
$block-delimiter: '-' !default;
$element-delimiter: '-' !default;
$modifier-delimiter: '-' !default;
$default-query: $viewport-xs !default;
// Putting breakpoint related values in arrays
$sizes: $xs $sm $md $lg $xl $xxl !default;
$queries: (
  #{$xs}: #{$viewport-xs},
  #{$sm}: #{$viewport-sm},
  #{$md}: #{$viewport-md},
  #{$lg}: #{$viewport-lg},
  #{$xl}: #{$viewport-xl},
  #{$xxl}: #{$viewport-xxl}
) !default;
$queries-v: (#{$xs}: #{$viewport-v-xs}, #{$sm}: #{$viewport-v-sm}) !default;
$fonts: (
  #{$xs}: #{$font-xs},
  #{$sm}: #{$font-sm},
  #{$md}: #{$font-md},
  #{$lg}: #{$font-lg},
  #{$xl}: #{$font-xl},
  #{$xxl}: #{$font-xxl}
) !default;
$line-heights: (
  #{$xs}: #{$line-height-xs},
  #{$sm}: #{$line-height-sm},
  #{$md}: #{$line-height-md},
  #{$lg}: #{$line-height-lg},
  #{$xl}: #{$line-height-xl},
  #{$xxl}: #{$line-height-xxl}
) !default;
$containers: (
  #{$xs}: #{$container-xs},
  #{$sm}: #{$container-sm},
  #{$md}: #{$container-md},
  #{$lg}: #{$container-lg},
  #{$xl}: #{$container-xl},
  #{$xxl}: #{$container-xxl}
) !default;
$fluid-containers-p: (
  #{$xs}: #{$fluid-container-xs-p},
  #{$sm}: #{$fluid-container-sm-p},
  #{$md}: #{$fluid-container-md-p},
  #{$lg}: #{$fluid-container-lg-p},
  #{$xl}: #{$fluid-container-xl-p},
  #{$xxl}: #{$fluid-container-xxl-p}
) !default;
$containers-p: (
  #{$xs}: #{$container-xs-p},
  #{$sm}: #{$container-sm-p},
  #{$md}: #{$container-md-p},
  #{$lg}: #{$container-lg-p},
  #{$xl}: #{$container-xl-p},
  #{$xxl}: #{$container-xxl-p}
) !default;
$column-properties: 'flex-basis', 'max-width' !default;
$offset-properties: 'margin-left' !default;

// @function mt-base($multiplier, $queries: $queries) {
//   @each $size in $sizes {
//     $base: map-get($line-heights, $size);

//     @include queries($size, $queries) {
//       $total: ($multiplier * $base);
//       margin-top: $total; // @return $value;
//     }
//   }
// }

// @function mb-base($multiplier, $queries: $queries) {
//   @each $size in $sizes {
//     $base: map-get($line-heights, $size);

//     @include queries($size, $queries) {
//       $total: ($multiplier * $base);
//       margin-bottom: $total; // @return $value;
//     }
//   }
// }

// @function pt-base($multiplier, $queries: $queries) {
//   @each $size in $sizes {
//     $base: map-get($line-heights, $size);

//     @include queries($size, $queries) {
//       $total: ($multiplier * $base);
//       padding-top: $total; // @return $value;
//     }
//   }
// }

// @function pb-base($multiplier, $queries: $queries) {
//   @each $size in $sizes {
//     $base: map-get($line-heights, $size);

//     @include queries($size, $queries) {
//       $total: ($multiplier * $base);
//       padding-bottom: $total; // @return $value;
//     }
//   }
// }

// @function base($property, $multiplier, $queries: $queries) {
//   @each $size in $sizes {
//     $base: map-get($line-heights, $size);

//     @include queries($size, $queries) {
//       $total: #{$multiplier * $base};
//       #{$property}: $total; // @return $value;
//     }
//   }
// }

// @function lh-base($multiplier, $queries: $queries) {
//   @each $size in $sizes {
//     $base: map-get($line-heights, $size);

//     @include queries($size, $queries) {
//       $total: ($multiplier * $base);
//       line-height: $total; // @return $value;
//     }
//   }
// }

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

%container {
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

@include containers();
@include fluid-containers();
@include fonts();

.row {
  display: flex;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
}

%column {
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

@include columns();
@include offsets();

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
