:root {
    overflow-x: hidden;
}

body {
    margin: 0;
    background: $base-background-color;
    padding: 0;
    line-height: $base-line-height;
    color: $copy-color;
    font-family: $font-family-serif;
    font-size: $base-font-size;
    font-weight: 300;

    // Better text legibility
    text-rendering: optimizeLegibility;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;

    // Better Font Rendering
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    box-sizing: border-box;
    word-break: break-word;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    border-bottom: 1px solid rgba(32,47,51,0.15);
    border-bottom-color: rgba($main-color, 0.75);
    color: rgb(7, 12, 13);

    text-shadow: $white-color 0.5px 0.5px, $white-color -0.5px 0.5px, $white-color 1px 1px, $white-color -1px 1px, $white-color 1.5px 1.5px, $white-color -1.5px 1.5px, $white-color 2px 2px, $white-color -2px 2px, $white-color 2.5px 2.5px, $white-color -2.5px 2.5px, $white-color 3px 3px, $white-color -3px 3px, $white-color 0px 0.5px, $white-color 0px 1px, $white-color 0px 1.5px, $white-color 0px 2px, $white-color 0px 2.5px, $white-color 0px 3px;
    &:hover {
        color: $main-color;
    }
}

p, .copy {
    margin-bottom: 21px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;

    @include queries($md) {
        font-size: 22px;
        line-height: 36px;
        margin-bottom: 27px;
    }
}

hr {
    border-bottom: 1px solid rgba($copy-color, 0.1);
    margin: 0 auto 27px;
    width: 40%;

    @include queries($md) {
        margin-bottom: 35px;
    }
}

em {
    font-family: $font-family-serif;
}

cite {
    font-family: $font-family-sans-serif;
    font-style: normal;
}

li {
    list-style-type: none;
}

blockquote {
    margin: 0;
}

.main-content {
    @for $i from 2 through 15 {
        & > *:nth-child(#{$i}) {
            animation: fadein 1s ease-in-out;
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
