@font-face {
    font-family: 'freight_text';
    src: url('../fonts/freighttextpro-book-webfont.eot');
    src: url('../fonts/freighttextpro-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freighttextpro-book-webfont.woff2') format('woff2'),
         url('../fonts/freighttextpro-book-webfont.woff') format('woff'),
         url('../fonts/freighttextpro-book-webfont.ttf') format('truetype'),
         url('../fonts/freighttextpro-book-webfont.svg#freight_text_probook') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'freight_text';
    src: url('../fonts/freighttextpro-bookitalic-webfont.eot');
    src: url('../fonts/freighttextpro-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freighttextpro-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/freighttextpro-bookitalic-webfont.woff') format('woff'),
         url('../fonts/freighttextpro-bookitalic-webfont.ttf') format('truetype'),
         url('../fonts/freighttextpro-bookitalic-webfont.svg#freight_text_probook_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'freight_text';
    src: url('../fonts/freighttextpro-demibold-webfont.eot');
    src: url('../fonts/freighttextpro-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freighttextpro-demibold-webfont.woff2') format('woff2'),
         url('../fonts/freighttextpro-demibold-webfont.woff') format('woff'),
         url('../fonts/freighttextpro-demibold-webfont.ttf') format('truetype'),
         url('../fonts/freighttextpro-demibold-webfont.svg#freight_text_probook_italic') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold_0-webfont.eot');
    src: url('../fonts/proximanova-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold_0-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold_0-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold_0-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?s7jhf');
    src: url('../fonts/icomoon.eot?s7jhf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?s7jhf') format('truetype'),
        url('../fonts/icomoon.woff?s7jhf') format('woff'),
        url('../fonts/icomoon.svg?s7jhf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    text-transform: none;
    line-height: 1;
    font-family: 'icomoon';
    font-weight: normal;

    // Better Font Rendering
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-style: normal;
    speak: none;
    font-variant: normal;
}

.icon-autoservice:before {
    content: '\e611';
}

.icon-auto-distribution:before {
    content: '\e612';
}

.icon-auto-primo:before {
    content: '\e613';
}

.icon-autosur:before {
    content: '\e614';
}

.icon-barclay:before {
    content: '\e615';
}

.icon-bosch:before {
    content: '\e616';
}

.icon-etape-auto:before {
    content: '\e617';
}

.icon-euromaster:before {
    content: '\e618';
}

.icon-michelin2:before {
    content: '\e619';
}

.icon-midas:before {
    content: '\e61a';
}

.icon-norauto:before {
    content: '\e61b';
}

.icon-list:before {
    content: '\e61f';
}

.icon-norsa-pneu--first-stop:before {
    content: '\e61c';
}

.icon-profil:before {
    content: '\e61d';
}

.icon-subaru:before {
    content: '\e61e';
}

.icon-caret-left:before {
    content: '\e620';
}

.icon-caret-right:before {
    content: '\e601';
}

.icon-box:before {
    content: '\e602';
}

.icon-ca:before {
    content: '\e603';
}

.icon-diesel:before {
    content: '\e604';
}

.icon-ducati:before {
    content: '\e605';
}

.icon-google:before {
    content: '\e606';
}

.icon-layers:before {
    content: '\e607';
}

.icon-kiehls:before {
    content: '\e608';
}

.icon-linkedin:before {
    content: '\e609';
}

.icon-bridge:before {
    content: '\e60a';
}

.icon-michelin:before {
    content: '\e60b';
}

.icon-play:before {
    content: '\e600';
}

.icon-scoopit:before {
    content: '\e60d';
}

.icon-solocal:before {
    content: '\e60e';
}

.icon-twitter:before {
    content: '\e60f';
}

.icon-youtube:before {
    content: '\e610';
}
