//------------------------------------------------------------------
// Helpers Classes
//------------------------------------------------------------------

// For anything related to alignment and positionning, see positionning.scss

.color-white-faded {
    color: rgba(255, 255, 255, .6);
}

.box {
    padding-top: $box-top-padding;
    padding-bottom: $box-bottom-padding;
}

.bold {
    font-weight: $font-weight-bold;
}

.fluid {
    width: 100%;
}

.regular {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
}

.visible,
.container.visible {
    overflow: visible;
}

%nowrap {
    white-space: nowrap;
}

.break-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

%truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rounded {
    border-radius: $border-radius;
}

.text-xs {
    font-size: $font-size-smaller;
}

.text-sm {
    font-size: $font-size-small;
}

.cursor-pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.clear {
    clear: both;
}

.hidden-temp {
    display: none;
}

.text-inline {
    display: inline;
}
